body {
    font-family: Montserrat;
    max-width: 1280px;
    min-width: 320px;
    margin: auto;
    position: relative;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    margin: 24px 48px 0 48px;
}

/* Разделы меню */
.header__item {
    font-weight: 600;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: black;
    position: relative;
    transition: .3s;
}
.item_active,
.header__item:hover {
    color: #E51937;
    transition: .3s;
}

.header__item:hover::after,
.item_active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 100%;
    border-bottom: 2px solid #E51937;
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: default;
    transition: .3s;
}

/* Основное меню с выбором меделей Tesla */

.header__menu {
    display: flex;
}

.header__menu > .header__item:not(:last-child) {
    margin-right: 44px;
}

/* Блок для входа в личный кабинет и магазин */
.header__shop {
    display: flex;
    margin-right: 54px;
}

.header__shop > .header__item {
    margin-right: 30px;
}

/* Кнопка меню - гамбургер */
#burger-checkbox {
    display: none;
}

.burger-label {
    position: absolute;
    right: 48px;
    top: 3px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.red-line {
    width: 24px;
    border-bottom: 2px solid #E51937;
    border-top: 2px solid rgba(0, 0, 0, 0);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.red-line:not(:last-child) {
    margin-bottom: 2px;
}

/* 1 секция главной страницы - Acquaintance-model-s и шрифты */

.acquaintance-model-s {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 58px 0 37px 0;
    position: relative;
}

/* Шрифты, используемые на странице */
.standart-text {
    text-align: justify;
    font-weight: 500;
    font-size: 15px;
}

.little-bold-text {
    font-weight: 600;
    font-size: 20px;
}

.big-bold-text {
    font-weight: 600;
    font-size: 35px;
}

.small-discription-text {
    font-weight: normal;
    font-size: 12px;
}

.white-text {
    color: white;
}

.black-text {
    color: black;
}

.secondary-text {
    font-size: 10px;
    opacity: .5;
}

.great-bold-text {
    font-weight: 600;
    font-size: 50px;
}

.great-little-bold-text {
    font-weight: 600;
    font-size: 25px;
}

/* Заголовок и подзаголовок acquaintance-model-s */

.acquaintance-model-s__heading {
    font-weight: 600;
    font-size: 90px;
}

.acquaintance-model-s__text {
    margin-bottom: 27px;
}

/* Блок с background и картинкой Tesla для секции acquaintance-model-s */

.acquaintance-model-s__tesla-background {
    position: absolute;
    top: 28%;
    width: 100%;
    height: 130px;
    text-align: center;
    background-image: url(../images/tesla-wordmark-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-bottom: 18px;
}

.acquaintance-model-s__tesla-img {
    width: 50%;
    min-width: 300px;
}

/* Общий wrapper для features и action-buttons */

.acquaintance-model-s__specification {
    width: 100%;
    text-align: center;
    margin-bottom: 37px;
}

/* Общий блок для features */

.acquaintance-model-s__feature-wrapper {
    text-align: left;
    display: inline-flex;
    margin-right: 81px;
}

/* Преимущества */

.feature {
    display: inline-flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: left;
}

.acquaintance-model-s__feature-wrapper > .feature:not(:last-child) {
    margin-right: 78px;
}

.acquaintance-model-s__speed-statistic {
    background-image: url(../images/speed.svg);
    background-size: 30%;
    padding-left: 55px;
}

.acquaintance-model-s__mileage-statistic {
    background-image: url(../images/road.svg);
    background-size: 20%;
    padding-left: 35px;
}

/* Общий блок для кнопок - призывы к действию */

.call-to-action {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Призыв к действию - кнопки */

.call-to-action__action-btn {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px 0;
    transition: .5s;
}

.action-btn_test-drive {
    width: 96px;
    position: relative;
    margin-right: 40px;
    padding-left: 25px;
}

.action-btn_test-drive::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: calc(50% - 11px);
    background-image: url(../images/steering-wheel.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    transition: .5s;
}

.action-btn_test-drive:hover {
    color: #e51937;
    transition: .5s;
}

.action-btn_test-drive:hover::before {
    background-image: url(../images/steering-wheel-red.svg);
    transition: .5s;
}

.action-btn_order {
    width: 160px;
    color: #e51937;
    border: 1px solid #e51937;
    transition: .5s;
}

.action-btn_order:hover {
    color: white;
    background-color: #e51937;
    transition: .5s;
}

.go-down-btn {
    cursor: pointer;
}

/* 2 секция главной страницы - comfort-model-s и заголовок */

.comfort-model-s {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.comfort-model-s__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/tesla-bg.png);
    background-repeat: no-repeat;
    background-size: 84%;
    background-position: -90% bottom;
    z-index: -1;
}

.comfort-model-s__heading {
    font-weight: 600;
    font-size: 70px;
    color: #E51937;
    padding: 62px 0 0 80px;
}

/* Общий блок "Будущее вождения" */

.comfort-model-s__topic {
    width: 30%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    background-color: #e51937;
    padding: 51px 52px 63px 52px;
    overflow-x: auto;
}

.topic-heading {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.comfort-model-s__topic > .standart-text {
    margin-bottom: 54px;
}

/* Общий wrapper для features */

.comfort-model-s__feature-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 171px;
}

.comfort-model-s__feature-wrapper > .feature:not(:last-of-type) {
    margin-bottom: 35px;
}

/* Преимущества */

.comfort-model-s__display {
    background-image: url(../images/phone.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px;
    padding-left: 50px;
}

.comfort-model-s__wifi {
    background-image: url(../images/wifi.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: left center;
    padding-left: 50px;
}

.comfort-model-s__baggage-scope {
    background-image: url(../images/fuel.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    padding-left: 50px;
}

/* Блок призыва к действию - кнопки "узнать больше", "заказать" */

.action-btn_more-info {
    position: relative;
    margin-right: 40px;
    padding-left: 30px;
}

.action-btn_more-info::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    left: 0;
    top: calc(50% - 11px);
    background-image: url(../images/info.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    transition: .5s;
}

.action-btn_more-info:hover::before {
    background-image: url(../images/active-ellipse.svg);
    transition: .5s;
}

.action-btn_new-order {
    width: 160px;
    text-align: center;
    color: white;
    border: 1px solid white;
    transition: .5s;
}

.action-btn_new-order:hover {
    background-color: white;
    color: #e51937;
    transition: .5s;
}

/* 3 секция - safety_model-s */

.safety-model-s {
    display: flex;
    align-items: center;
    position: relative;
}

/* Основной контент секции */

.safety-model-s__topic {
    width: 30%;
    min-width: 360px;
    display: flex;
    flex-direction: column;
    padding: 51px 52px 63px 52px;
    background-color: #e51937;
}

.feature-heading {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
}

.heading-margin {
    margin-bottom: 26px;
}

.safety-model-s__topic > .standart-text {
    margin-bottom: 49px;
}

 .safety-model-s__general-rating-wrapper {
    margin-bottom: 101px;
 }

 /* Блок рейтинга */

.safety-model-s__star-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.safety-model-s__pattern-name {
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
}

.safety-model-s__pattern-rating {
    width: 125px;
    height: 23px;
    background-image: url(../images/star.svg);
    background-repeat: 5, 0;
}

/* Преимущество - безопасность */

.safety-model-s__best-safeness-wrapper {
    display: flex;
    justify-content: center;
}

.safety-model-s__best-safeness {
    background-image: url(../images/security.svg);
    background-repeat: no-repeat;
    background-size: 55px;
    background-position: left center;
    padding-left: 70px;
    margin-bottom: 60px;
}

/* Background секция и изображение */

.safety-model-s__image-wrap {
    position: relative;
}

.safety-model-s__background {
    height: 100%;
    width: 100%;
    position: absolute;
    top: -5px;
    background-image: url(../images/model-s-bg.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: right top;
}

.safety-model-s__tesla-constructor-img {
    width: 100%;
    min-width: 300px;
    margin-left: -80px;
    z-index: 1;
    opacity: .99;
}

/* Блок "webheroschool" */

.сreated-by-wbs {
    display: flex;
    align-items: center;
    position: absolute;
    right: 25px;
    bottom: 15px;
}

.сreated-by-wbs__text {
    display: inline-block;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 15px;
}

/* Адаптивная вёрстка */

@media (max-width: 1024px) {

    /* Header */

    .header__menu > .header__item:not(:last-child) {
        margin-right: 20px;
    }

    .header__shop > .header__item {
        margin-right: 20px;
    }

    .header__shop {
        margin-right: 20px;
    }

    /* Блоки и кнопки 2 и 3 секции */

    .comfort-model-s__topic,
    .safety-model-s__topic {
        min-width: 340px;
    }

    .action-btn_more-info {
        margin-right: 20px;
    }

}

@media (max-width: 960px) {

    /* Header */

    .header {
        margin: 24px 21px 0 21px;
    }

    .header__menu,
    .header__shop {
        display: none;
    }

    .burger-label {
        right: 21px;
    }

    /* 1 секция главной страницы */

    .acquaintance-model-s__specification {
        flex-wrap: wrap;
    }

    .acquaintance-model-s__feature-wrapper {
        margin-right: 0;
        margin-bottom: 43px;
        width: 100%;
        justify-content: center;
    }

    /* 2 секция главной страницы */

    .comfort-model-s {
        flex-direction: column;
    }

    .comfort-model-s__heading {
        display: none;
    }

    .comfort-model-s__background {
        position: static;
        width: auto;
        height: auto;
        min-height: 300px;
        background-size: cover;
        background-position-x: 65%;
        background-position-y: 11%;
    }

    .comfort-model-s__topic {
        width: auto;
    }

    .comfort-model-s__feature-wrapper {
        margin-bottom: 70px;
    }

    /* 3 секция главной страницы */

    .safety-model-s {
        flex-direction: column-reverse;
    }

    .safety-model-s__topic {
        width: auto;
    }

    .safety-model-s__general-rating-wrapper {
        margin-bottom: 50px;
    }

    .safety-model-s__star-rating {
        width: 35%;
        min-width: 300px;
    }

    .safety-model-s__best-safeness-wrapper {
        justify-content: flex-start;
    }

    .safety-model-s__image-wrap {
        width: 100%;
        padding: 57px 0 32px 0;
    }

    .safety-model-s__background {
        top: 50px;
        background-position: center top;
        background-size: contain;
    }

    .safety-model-s__tesla-constructor-img {
        margin-left: 0;
    }

    .сreated-by-wbs {
        display: none;
    }
}

@media (max-width: 640px) {

    /* 1 секция главной страницы */

    .acquaintance-model-s__tesla-background {
        top: 22%;
    }

    .acquaintance-model-s__heading {
        font-size: 50px;
    }

    /* 2 секция главной страницы */

    /* .comfort-model-s__background {
        height: 40vh;
    } */
}

@media (max-width: 480px) {

    /* Шрифты */

    .big-bold-text {
        font-size: 27px;
    }

    .little-bold-text {
        font-size: 15px;
    }

    /* Кнопки */

    .action-btn_order {
        width: 140px;
    }

    .action-btn_test-drive {
        margin-right: 10px;
    }

    .safety-model-s__topic > .call-to-action,
    .comfort-model-s__topic > .call-to-action {
        display: none;
    }

    /* Шрифты */

    .comfort-model-s__topic > .standart-text,
    .safety-model-s__topic > .standart-text {
        margin-bottom: 34px;
    }

    /* 1 секция главной страницы */

    .comfort-model-s__topic {
        box-sizing: border-box;
        min-width: 320px;
        padding: 18px 29px 34px 29px;
    }

    .acquaintance-model-s__feature-wrapper > .feature:not(:last-child) {
        margin-right: 41px;
    }

    /* 2 секция главной страницы */

    .comfort-model-s__feature-wrapper {
        display: none;
    }


    /* 3 секция главной страницы */

    .safety-model-s__topic {
        box-sizing: border-box;
        min-width: 320px;
        padding: 18px 29px 34px 29px;
    }

    .safety-model-s__topic > .feature-heading {
        display: none;
    }

    .safety-model-s__general-rating-wrapper {
        display: none;
    }

    .safety-model-s__best-safeness-wrapper {
        display: none;
    }
}
